@plugin "daisyui/theme" {
  name: "agentflow";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #f1f1f3;
  --color-base-200: #d9dbdf;
  --color-base-300: oklch(95% 0 0);
  --color-base-content: #131316;
  --color-primary: #9d9db8;
  --color-primary-content: #ffffff;
  --color-secondary: #f092dd;
  --color-secondary-content: #131316;
  --color-accent: #b3b8f0;
  --color-accent-content: #131316;
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: #6eb6dd;
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: #68ca9c;
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: #cca96a;
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: #d6858e;
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0rem;
  --radius-field: 0.25rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.1875rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}
